
<div ng-hide="!users.hidden" class="pv3 tc w-100">
  <spinner name="spinner" img-src="/images/icons/loading.gif" on-loaded="users.loadUser()"></spinner>
</div>

<div ng-show="!users.hidden" ng-class="main.container">

  <h1>{{users.user.username}}'s profile</h1>
  <h3>About:</h3>
  <p class="lh-copy">
    {{users.user.about}}
  </p>
  <grid user="users.user" type="prompt" content="users.user.prompts" width="half" page="user" limit="5"></grid>
  <grid user="users.user" type="fill" width="half" content="users.user.fills" page="user" limit="5"></grid>

</div>
