
<div ng-hide="!users.hidden" class="pv3 tc w-100">
  <spinner name="spinner" img-src="/images/icons/loading.gif" on-loaded="users.loadUser()"></spinner>
</div>

<div ng-show="!users.hidden" ng-class="main.showpage">

  <h1 class="mb0">{{users.user.username}}<span ng-if="users.user.username.charAt(users.user.username.length-1) !== 's'">'s</span><span ng-if="users.user.username.charAt(users.user.username.length-1) === 's'">'</span> profile</h1>
  <div class="fl-ns h4 w4 mv3 cover ba b--moon-gray" style="background:url({{users.user.image}}) center; background-color: #aaa;"></div>

  <h3 class="db cb fl w-50 mt0 mb0 h2">About:</h3>

  <p class="cb mt3" ng-class="main.textarea" marked="users.user.about"></p>

  <div ng-show="users.showEditForm" class="comment-box cf w-100 mb3">
    <h3 class="mt0 mb3">Edit about section</h3>
    <form name="newCommentForm" class="" ng-submit="users.update()" method="post">
      <textarea rows="10" cols="60" type="text"
      class="db w-100 br3"
      ng-model="users.user.about"
      name="body"></textarea>
      <input ng-class="main.button" class="mt3" type="submit" name="" value="Submit">
    </form>
  </div>

  <grid user="users.user" type="prompt" content="users.user.prompts" page="user" limit="5"></grid>
  <grid user="users.user" type="fill" content="users.user.fills" page="user" limit="5"></grid>

</div>
