<div ng-hide="!fills.hidden || fills.error.status" class="pv5 tc w-100">
  <spinner name="spinner" img-src="/images/icons/loading.gif" on-loaded="fills.load()"></spinner>
</div>

<div ng-if="!fills.hidden" ng-class="main.form">
  <h1>New Fill</h1>
  <h2>In response to: {{ fills.prompt.title }}</h2>

  <form name="newFillForm" ng-submit="fills.create()" method="post" novalidate>

    <label class="db b f5 pv2" for="title">Title: </label>
    <input type="text"
    class="db br-pill ph2 w-100 br3"
    ng-model="fills.fill.title"
    required
    name="title" value="">

    <label class="db b f5 pv2" for="body">Body: </label>
    <textarea rows="20" cols="60" type="text"
    class="db br3 w-100 br3"
    ng-model="fills.fill.body"
    required
    name="body"></textarea>

    <p class="db b f5" for="tagged_as">Tags inherited from parent prompt:
      <span class="normal dark-green" ng-repeat="tag in fills.prompt.tags">{{tag.name}}<span ng-if="!$last">, </span></span>
    </p>

    <label class="db b f5 pv2" for="rating_tags">Rating: </label>
    <select class="h2 w5 br-pill ba ph2 b--black" name="rating_tags"
      ng-model="fills.fill.rating"
      ng-options="rating.value as rating.name for rating in fills.ratings"
      ng-change=""
      placeholder="Rating"
      required>
      <option value="" disabled selected style="display: none;">Please Select</option>
    </select>

    <label class="db b f5 pv2" for="tagged_as">Tags: </label>
    <input type="text"
    class="db br-pill ph2 w-100 br3"
    ng-model="fills.fill.tagged_as" name="tagged_as" value="">

    <label class="dib b f5 pt2" for="anon">Post anonymously: </label>
    <input type="checkbox"
    class="dib"
    ng-model="fills.fill.anon" name="anon">

    <p ng-show="fills.error.status || fills.invalid" class="red">Please check all fields and try again.</p>
    <p ng-show="fills.invalid" class="red">Rating is required.</p>

    <input class="db b ba b--black bg-white f5 mt3 mb6 mb5-ns pv2 ph3 br-pill" type="submit" name="" value="Submit">
  </form>

</div>
