<div ng-class="main.container">
<h1>About this site</h1>
<p class="lh-copy measure f4">
  ColLAB is developed and maintained by E Pearce who can be found on <a ng-class="main.link" href="https://github.com/eadpearce">github</a> and <a ng-class="main.link" href="https://twitter.com/ediepearce2501">twitter</a>. If you encounter any issues using this site please let me know via twitter. I hope you enjoy using this site as much as I enjoyed (and am still enjoying) developing it.
</p>
<p class="lh-copy measure f4">
  This site is made with <a ng-class="main.link" href="http://rubyonrails.org/">Ruby on Rails</a> and <a href="https://angularjs.org/">AngularJS</a>. 
</p>

</div>
