<!-- <div ng-show="main.hidden" class="pv5 tc w-100">
  <spinner name="spinner" img-src="/images/icons/loading.gif" ></spinner>
</div> -->

<!-- WHEN LOGGED IN -->
<div ng-show="loggedIn" ng-class="main.showpage">
  <div class="mt4 w-two-thirds fl-ns">
    <h1 class="mt0">Hello, {{main.user.username}}</h1>
    <div class="fl-ns h4 w4 mv3 cover ba b--moon-gray" style="background:url({{currentUser.image}}) center; background-color: #aaa;"></div>
    <div class="fl-ns mv3 pl3-ns">
      <button ng-if="!main.showImageEdit" type="button" ng-class="main.button" ng-click="main.imageEdit()">Edit image</button>
      <button ng-if="main.showImageEdit" type="button" ng-class="main.button" class="red" ng-click="main.imageEdit()">Cancel</button>
      <div ng-show="main.showImageEdit" class="mt2">
        <input class="br-pill ba b--black ph2 pv1" type="text" ng-model="main.editedUser.image" name="" value="">
        <button type="button" ng-class="main.button" ng-click="main.updateUser()">Save</button>
      </div>
    </div>
  </div>

  <div class="tr-ns mt4 w-third-ns w-100 fl-ns lh-copy">
    <h3>User Control Panel</h3>
    <a ng-class="main.button" class="bg-washed-yellow slide mb2 db link hover-green very-dark-green" href="" ui-sref="promptsNew">
      New prompt</a>
      <a ng-class="main.button" class="slide mb2 db link hover-green very-dark-green" href="" ui-sref="usersShow({ id: currentUser.username })">
        My Profile</a>
    <a ng-class="main.button" class="slide mb2 db link hover-green very-dark-green" href="" ui-sref="promptsIndexUser({ user: currentUser.username })">
      View my prompts</a>
    <a ng-class="main.button" class="slide mb2 db link hover-green very-dark-green" href="" ui-sref="fillsIndexUser({ user: currentUser.username })">
      View my fills</a>
  </div>

  <h3 class="cb w-100">About</h3>
  <p>Your about section supports <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet">markdown</a></p>
  <p ng-hide="main.showEditForm" class="cb mt3" ng-class="main.textarea" marked="main.editedUser.about"></p>
  <div class="w-100">
    <button ng-if="!main.showAboutEdit" ng-class="main.button" ng-click="main.aboutEdit()" type="button" name="button">Edit about</button>
    <button ng-if="main.showAboutEdit" type="button" ng-class="main.button" class="red" ng-click="main.aboutEdit()">Cancel</button>

    <spinner name="spinner" img-src="/images/icons/loading.gif" ></spinner>
    <p class="green" ng-if="main.saved">Saved!</p>

    <div ng-show="main.showAboutEdit" class="mt2">
      <textarea ng-class="main.textarea" class="w-100" type="text" name="" ng-model="main.editedUser.about"></textarea>
      <button class="mb5"  ng-class="main.button" ng-click="main.updateUser()" name="button">Save</button>
    </div>
  </div>

</div>

<!-- WHEN NOT LOGGED IN -->
<div ng-hide="main.user.username">
  <section class="vh-100 dt nt5 ph2 ph4-ns">
    <div class="dtc v-mid-ns v-top pt5 pt0-ns">
      <h1 class="mb3 f-subheadline-ns f1">Welcome to colLAB! (alpha)</h1>
      <p class="mt0 f1-ns f2 dark-green">Stuck for ideas? <i>Too many</i> ideas? You're in the right place </p>
      <p class="mt0 f2-ns f3 dark-green">Scroll down to find out more...</p>
    </div>
  </section>

  <section class="vh-100 w-100 bg-white dt ph2 ph4-ns">
    <div class="dtc v-mid-ns v-top pt5 pt0-ns">
      <h1 class="mb3 f-subheadline-ns f1">What is colLAB?</h1>
      <p class="mt0 f1-ns f2 dark-green">ColLAB is where you can request fic for any fandom with a prompt and someone else can fill that prompt. Like an anon meme but <i>more.</i></p>
    </div>
  </section>

  <section class="vh-100 w-100 dt ph2 ph4-ns">
    <div class="dtc v-mid-ns v-top pt5 pt0-ns">
      <h1 class="mb3 f-subheadline-ns f1">Searchable tags</h1>
      <p class="mt0 f1-ns f2 dark-green">Search for fills or prompts by tags. Easily filter by filled or unfilled prompts.</p>
    </div>
  </section>

  <section class="vh-100 w-100 bg-white dt ph2 ph4-ns">
    <div class="dtc v-mid-ns v-top pt5 pt0-ns">
      <h1 class="mb3 f-subheadline-ns f1">Ratings</h1>
      <p class="mt0 f1-ns f2 dark-green">Prompts can have a suggested rating so you can filter prompts depending on what you want to write. You can also filter fills by rating.</p>
    </div>
  </section>

  <section class="vh-100 w-100 dt ph2 ph4-ns">
    <div class="dtc v-mid-ns v-top pt5 pt0-ns">
      <h1 class="mb3 f-subheadline-ns f1">Comments</h1>
      <p class="mt0 f1-ns f2 dark-green">Unlike anon memes, comments here are separate from prompts and fills. No more confusion!</p>
    </div>
  </section>

  <section class="vh-100 w-100 bg-white dt ph2 ph4-ns">
    <div class="dtc v-mid-ns v-top pt5 pt0-ns">
      <h1 class="mb3 f-subheadline-ns f1">Sound good?</h1>
      <p class="mt0 f1-ns f2 dark-green"><a class="link green hover-light-green" href="" ui-sref="register">Sign me up!</a></p>
      <p class="mt2 f2-ns f3 dark-green"><a class="link green hover-light-green" href="" ui-sref="promptsIndex">...or browse prompts</a></p>
    </div>
  </section>
</div>
