<h1>Prompts</h1>
<div class="list" ng-repeat="prompt in (filteredItems = (prompts.all | orderBy: 'created_at':true | limitTo: 10))">
  <h3><a ui-sref="promptsShow({ id: prompt.id })" href="">{{prompt.title}}</a>
    <span ng-if="prompt.fills[0]">
      <span ng-if="prompt.fills.length === 1">(1 fill)</span>
      <span ng-if="prompt.fills.length !== 1">({{prompt.fills.length}} fills)</span>
    </span>
  </h3>
  <p>{{prompt.date_created}}</p>
  <p>Tags:
    <a class="pr2" ng-repeat="tag in prompt.tags" ui-sref="promptsIndexTag({ tag: tag.id })" href="">{{tag.name}}</a>
  </p>
  <p>Posted by: <a href="">{{prompt.user.username}}</a></p>
</div>
