<div class="mb5 mb0-ns bt b--moon-gray bg-white bb w-100 ph2 ph4-ns pt2 pb2">
  <div class="dt w-100">
    <div class="dtc v-mid">
      <h1 class="dib mv0 pv2">Prompts posted by
        <a class="link dark-green hover-green underline" href=""
        ui-sref="usersShow({id: prompts.user.username})">{{prompts.user.username}}</a></h1>
      </div>
      <div class="dtc v-mid w3 tr">
        <a class="b f3 link dark-green hover-green" href="" ui-sref="promptsIndex">Back</a>
      </div>
    </div>
  </div>

<div ng-hide="!prompts.hidden" class="pv3 tc w-100">
  <spinner name="spinner" img-src="/images/icons/loading.gif" on-loaded="prompts.load()"></spinner>
</div>
<div ng-show="!prompts.hidden">
<grid type="prompt" content="prompts.all" width="grid"></grid>
</div>
