<div class="mb5 mb0-ns bt b--moon-gray bg-white bb w-100 ph2 ph4-ns pt2 pb2">
  <div class="dt">
    <div class="dtc v-mid">
      <h1 class="dib mv0 pv2">Prompts</h1>
    </div>
  </div>

    </div>
    <div class="mt0-ns nt5 pv2 ph2 ph4-ns mb0-ns">
      <div ng-repeat="prompt in
      (filteredItems = (prompts.all |
      filter: prompts.q |
      filter: { filled: prompts.isFilterByFilled } |
      filter: { unfilled: prompts.isFilterByUnfilled } |
      orderBy: 'created_at':true |
      limitTo: prompts.limit ))">
      <h3><a ui-sref="promptsShow({ id: prompt.id })" href="">{{prompt.title}}</a>
        <span ng-if="prompt.fills[0]">
          <span ng-if="prompt.fills.length === 1">(1 fill)</span>
          <span ng-if="prompt.fills.length !== 1">({{prompt.fills.length}} fills)</span>
        </span>
      </h3>
      <p>{{prompt.date_created}}</p>
      <p>Tags:
        <a class="pr2" ng-repeat="tag in prompt.tags" ui-sref="promptsIndexTag({ tag: tag.id })" href="">{{tag.name}}</a>
      </p>
      <p>Posted by: <a href="">{{prompt.user.username}}</a></p>
    </div>
  </div>

  <!-- filterByTags:prompts.tagSearch | -->
