<!-- <error ng-if="prompts.error.status" style="main.container" status="prompts.error.status"></error> -->

<div ng-if="!prompts.hidden" ng-class="main.form">
  <h1>New Prompt</h1>

  <form name="newPromptForm" ng-submit="prompts.create()" method="post" novalidate>

    <label class="db b f5 pv2" for="title">Title: </label>
    <input type="text"
    ng-class="main.input"
    ng-model="prompts.prompt.title"
    required
    name="title">

    <label class="db b f5 pv2" for="body">Description: </label>
    <textarea rows="20" cols="60" type="text"
    class="db w-100 br3"
    ng-model="prompts.prompt.body"
    required
    name="body"></textarea>

    <label class="db b f5 pv2" for="rating">Suggested rating: </label>
      <label for="general">
        <input class="mh2" type="radio" ng-model="prompts.prompt.rating" name="rating" id="general" value="general">General
      </label>
      <label for="teen">
      <input class="mh2" type="radio" ng-model="prompts.prompt.rating" name="rating" id="teen" value="teen">Teen
      </label>
      <label for="mature">
      <input class="mh2" type="radio" ng-model="prompts.prompt.rating" name="rating" id="mature" value="mature">Mature
      </label>
      <label for="explicit">
      <input class="mh2" type="radio" ng-model="prompts.prompt.rating" name="rating" id="explicit" value="explicit">Explicit
      </label>
      <label for="none">
      <input class="mh2" type="radio" ng-model="prompts.prompt.rating" name="rating" id="none" value="none">None
      </label>

    <label class="db b f5 pv2" for="tagged_as">Comma-separated tags: </label>
    <input type="text"
    class="db w-100 br-pill ph2"
    ng-model="prompts.prompt.tagged_as" name="tagged_as">

    <label class="dib b f5 pt2" for="anon">Post anonymously: </label>
    <input type="checkbox"
    class="dib"
    ng-model="prompts.prompt.anon" name="anon">

    <p ng-if="prompts.error.status || prompts.invalid" class="red">Please check all fields and try again.</p>

    <input class="db b ba b--black bg-white f5 mt3 mb6 mb0-ns pv2 ph3 br-pill" type="submit" name="" value="Submit">
  </form>

</div>
