<error ng-if="comments.error.status" style="main.container" status="comments.error.status"></error>

<div ng-hide="!comments.hidden" class="pv3 tc w-100">
  <spinner name="spinner" img-src="/images/icons/loading.gif" on-loaded="comments.load()"></spinner>
</div>

<div ng-if="!comments.hidden" class="ph2 ph4-ns mb0-ns">
  <h1>New Comment</h1>
  <h2>In response to: {{ comments.parent.title }}</h2>
  <form class="" ng-submit="comments.create()" method="post">
    <textarea rows="20" cols="60" class="db" type="text"
    ng-model="comments.comment.body" name="body"></textarea>
    <input type="submit" name="" value="Submit">
  </form>

</div>
