<!DOCTYPE html>
<html ng-app="collabApp">
<head>
  <meta charset="utf-8">
  <meta name="language" content="en">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Angular Stack Setup</title>
  <base href="/">
  <link rel="apple-touch-icon" sizes="57x57" href="/images/icons/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/images/icons/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/images/icons/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/images/icons/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/images/icons/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/images/icons/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/images/icons/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/images/icons/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/images/icons/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/images/icons/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/images/icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/images/icons/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/images/icons/favicon-16x16.png">
  <link rel="manifest" href="/images/icons/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  <!-- inject:js -->
  <!-- endinject -->
  <!-- inject:css -->
  <!-- endinject -->
</head>
<body ng-controller="MainCtrl as main" class="bg-lightest-green very-dark-green">
  <div class="absolute bottom-0 right-0 triangle">
  </div>
  <header class="h3">
    <div class="menu overflow-hidden w5 db fixed pr2 pr3-ns pt2 pb3-ns pt0-ns f5 bg-white ttu tr tracked" ng-hide="main.menuIsHidden">
      <a href="" ng-click="main.showMenu()"
        class="db link pt2 dark-green hover-light-green" ng-show="loggedIn" ui-sref="promptsNew">new prompt</a>
      <a href="" ng-click="main.showMenu()"
        class="db link pt2 dark-green hover-light-green" ng-show="loggedIn" ui-sref="usersShow({ id: user.username })">my profile</a>
      <a href="" ng-click="main.showMenu()"
        class="db pt2 link dark-green hover-light-green" ui-sref="promptsIndex">all prompts</a>
      <a href="" ng-click="main.showMenu()"
        class="db pt2 link dark-green hover-light-green" ui-sref="fillsIndex">all fills</a>
      <a href="" ng-click="main.showMenu()"
        class="db pt2 link dark-green hover-light-green" ui-sref="tagsIndex">tags</a>
      <a href="" ng-click="main.showMenu()"
        class="db pt2 link dark-green hover-light-green" ng-hide="loggedIn" ui-sref="login">Login</a>
      <a href=""
        class="db pt2 link dark-green hover-light-green" ng-show="loggedIn" ng-click="main.logout()">Logout</a>
    </div>

    <nav class="h3 dt fixed bottom-0 top-0-ns w-100 fl bg-white">
      <div class="h-100 pl2 pl3-ns dtc v-mid w4">
        <a ui-sref="home" href=""><logo></logo></a>
      </div>
      <div class="dtc v-mid pr2 pr3-ns">
        <button class="db fr ttu tr tracked f6 bd ml3-ns bg-white ba b--black br-pill ph2 h2" type="button" ng-click="main.showMenu()" name="button">menu</button>
          <div ng-if="!user.username" class="db fr ttu tr tracked f5 pr2 pv2 h2">Not logged in</div>
          <div ng-if="user.username" class="db fr ttu tr tracked f5 pr2 pv2 h2">Hello
            <a class="link dark-green hover-light-green" href="" ui-sref="usersShow({id: user.username})">{{user.username}}</a></div>
      </div>
    </nav>
  </header>

<main class="mt0-ns nt6 mb0 mb0-ns pb0" ui-view></main>
</body>
</html>
