<div class="fl cf w-100 bg-white mb3"
  ng-class="{'mb6': $last}"
  ng-repeat="comment in content | orderBy: 'created_at': true">

  <p class="mt0 mb0 bg-dark-green white pa2">Posted by <a class="link light-green hover-white" href="" ui-sref="usersShow({ id: comment.user.username })">{{comment.user.username}}</a> at <a class="link light-green hover-white" href="" ui-sref="commentsShow({ id: comment.id })">{{comment.date_created}}</a></p>

  <div class="fl mt0 mb0 h-100 w-100 bl bb br b--moon-gray">
    <avatar class="fl mr2" width="3" image="comment.user.image"></avatar>
    <div class="pv2 w-100 h-100">{{comment.body}}</div>
  </div>
</div>
